__pycache__/
*.pyc
test_commands
.vscode/
yeet/
analysis/
adfssdf.py
*.ipynb
utils.py
testaaaa.py
.ipynb_checkpoints/disp_to_color-checkpoint.py
.ipynb_checkpoints/testaaaa-checkpoint.py
.ipynb_checkpoints/utils-checkpoint.py
